.align-span,
.type-span {
  margin-right: 10px;
  cursor: pointer;
}
.align-span:last-child,
.type-span:last-child {
  margin-right: 0;
}
.settings-row {
  margin-bottom: 20px;
  position: relative;
}
.settings-row:last-child {
  margin-bottom: 0;
}
.setting-label {
  margin-bottom: 5px;
  display: inline-flex;
}
