.align-span,
.type-span {
  margin-right: 10px;
  cursor: pointer;
}
.align-span:last-child,
.type-span:last-child {
  margin-right: 0;
}
.settings-row {
  margin-bottom: 20px;
  position: relative;
}
.settings-row:last-child {
  margin-bottom: 0;
}
.setting-label {
  margin-bottom: 5px;
  display: inline-flex;
}
.size-control {
  margin: 0 10px;
  cursor: pointer;
}
.text-settings {
  padding: 0 20px;
}
.text-settings input {
  max-width: 50px;
}
.text-settings textarea {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  height: 60px;
}
