@import './variables.scss';

.align-span:last-child,
.type-span:last-child {
  margin-right: 0;
}

.setting-label {
  display: inline-flex;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2.5px;
  color: $primary-text-color;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.text-settings {
  input {
    max-width: 50px;
  }
  .type-span {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    line-height: 12px;
    min-width: 12px;
    text-align: center;
    cursor: pointer;
    color: $secondary-text-color;

    &.active {
      color: $primary-text-color;
    }
  }

  .align-span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 12px;

    span {
      background-color: $secondary-text-color;
      height: 2px;

      &:first-child {
        width: 16px;
      }
      &:nth-child(2) {
        width: 12px;
      }
      &:last-child {
        width: 8px;
      }
    }

    &.active {
      span {
        background-color: $primary-text-color;
      }
    }

    &.left-align {
      align-items: flex-start;
    }
    &.center-align {
      align-items: center;
    }
    &.right-align {
      align-items: flex-end;
    }
  }

  .settings-row {
    position: relative;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .text-size__container {
      width: 76px;

      input {
        width: 40px;
        height: 12px;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        line-height: 2.2;
        letter-spacing: 0.75px;
        color: $primary-text-color;
        padding: 0;
        border: 0;
        text-align: center;

        &:focus,
        &:active {
          outline: none;
        }
      }
      .size-control {
        cursor: pointer;
      }
    }
    .font-family__container {
      width: 170px;
      div[class*='indicatorContainer'] {
        padding: 0 !important;
      }
      div[class*='-control'] > div {
        padding: 0;
      }
    }
    .sketch-picker {
      border-radius: 0 !important;
      box-shadow: none !important;
    }
    .input-color {
      max-width: 71px;
      width: 70px;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 0.75px;
      color: $primary-text-color;
      border: none;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  textarea {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    height: 36px;
    font-size: 15px;
    font-family: $font-stack;
    line-height: 1.2;
    letter-spacing: 0.75px;
    color: $primary-text-color;
    border: solid #f6f4f8;
    border-width: 0 0 1px 0;
    padding: 0;

    &:focus,
    &:active {
      outline: none;
    }
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.image-settings,
.text-settings {
  background-color: $secondary-background-color;
  border-top: 1px solid #e9e7ed;
  padding: 28px 32px;
}

::-webkit-input-placeholder {
  color: $secondary-text-color;
}

:-ms-input-placeholder {
  color: $secondary-text-color;
}

::placeholder {
  color: $secondary-text-color;
}
