$font-stack: Montserrat, sans-serif;
$primary-text-color: #353434;
$secondary-text-color: #ababaf;
$highlight-color: #bbff47;
$highlight-text-color: #5e8a12;
$secondary-background-color: #ffffff;
$dropdown-background-color: #e9e7ed;
