@import './fonts/fonts.css';
@import './css/variables.scss';

body {
  font-family: $font-stack;
  margin: 0;
  background-color: #f6f4f8;
  user-select: none;
}
.primary-text {
  color: $primary-text-color;
}
.secondary-text {
  color: $secondary-text-color;
}
.highlight-text {
  color: $highlight-text-color;
}
.constructor-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.tools-container {
  width: 1200px;
  margin: 145px auto 0 auto;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.flex-start {
    justify-content: flex-start;
  }
}

.col-1 {
  width: 10.083333334%;
}
.col-4 {
  width: 30.667%;
}
.col-7 {
  width: 59.25%;
  padding: 0 16px;
  box-sizing: border-box;
  overflow: hidden;
}
.col-8 {
  width: 69.25%;
  box-sizing: border-box;
}

.editor__container {
  position: relative;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;

  .workspace__preloader {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    border: 3px solid #bbff47;
    animation: loader 2s infinite ease;
    z-index: 9999;

    .workspace__preloader-inner {
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: #bbff47;
      animation: loader-inner 2s infinite ease-in;
    }
  }

  .workspace__background {
    max-height: 100%;
    margin: 0 auto;
  }

  .workspace__area {
    position: absolute;
    border: 1px solid transparent;

    &.has-focus {
      &.dark-border {
        border-color: rgba(0, 0, 0, 0.1);
      }
      &.light-border {
        border-color: rgba(251, 250, 253, 0.1);
      }
    }
  }
}

.layers__container {
  width: 100%;
  height: 100%;
}
.no-overflow {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.transform-layer {
  display: none;
  position: absolute;
  background-color: $highlight-color;
  width: 17px;
  height: 17px;
  font-size: 17px;
  line-height: 1;
  color: $primary-text-color;
  cursor: default;

  &.rotate-layer {
    top: -17px;
    right: -17px;
  }
  &.resize-layer {
    bottom: -17px;
    right: -17px;
  }
  &.delete-layer {
    top: -17px;
    left: -17px;
  }

  img {
    height: 13px;
  }
}

.focused-layer .transform-layer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.front-area .focused-layer::before,
#drag-placeholder .focused-layer::before {
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid $highlight-color;
}
.corner {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: transparent;
  visibility: hidden;
  z-index: -1;
}
.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-right {
  right: 0;
  bottom: 0;
}
.bottom-left {
  left: 0;
  bottom: 0;
}
.single-list-item {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: #ffffff;
  height: 52px;
  box-sizing: border-box;

  .visibility-toggle {
    display: flex;
    align-items: flex-end;
    flex-basis: 18px;
    height: 12px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;

    img {
      width: 18px;
    }
  }

  .image-preview {
    flex-basis: 18px;
    height: 18px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  .text-preview {
    img {
      height: 18px;
    }
  }

  .text-preview__content {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: 0.75px;
    flex-basis: 172px;
  }

  .drag-item__container {
    flex-basis: 13px;

    .drag-line {
      width: 100%;
      height: 2px;
      background-color: $primary-text-color;
    }
    .drag-line:nth-child(2) {
      margin: 4px 0;
    }
  }
}

.layer-list {
  height: 476px;
  overflow-x: visible;
  overflow-y: auto;
  position: static;
  z-index: 201;

  .layer-list-item {
    padding-bottom: 4px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.layer-actions {
  position: absolute;
  top: 0;
  left: -56px;
  width: 52px;
  height: 173px;
  background-color: $secondary-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 201;

  .single-action {
    cursor: pointer;
    display: flex;
    margin-top: 16px;

    &:first-child() {
      margin-top: 20px;
    }
    &:nth-last-child() {
      margin-bottom: 20px;
    }
  }
}

.tools-container,
.layer-list__title {
  position: relative;
}

.tools-button__container {
  height: 91px;
  width: 100%;
  background-color: $secondary-background-color;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;

  .tools-button__text,
  .uploads-title {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-indent: 2.5px;
    line-height: 1.2;
    margin-top: 15px;
    transition: color 0.3s ease;
  }
  .uploads-title {
    line-height: 1;
    margin-bottom: 14px;
    display: flex;
    margin-top: 0;
  }

  .tools-button__icon {
    display: flex;
    transition: filter 0.3s ease;

    .icon-black {
      transition: opacity 0.3s ease;
    }

    .tools-button__icon-container {
      background-size: contain;
      background-position: 50% 0;
      background-repeat: no-repeat;
    }

    &.dropdown {
      flex-direction: row;
      align-items: center;

      .dropdown-icon {
        height: 11px;
        width: auto;
        margin-left: 10px;
      }
    }
    & > img {
      max-height: 29px;
      width: auto;
    }
  }

  &:hover {
    background-color: $highlight-color;

    & .tools-button__text {
      color: $highlight-text-color;
    }
    & .icon-black {
      opacity: 0;
    }
  }
}

.add-layer__container {
  position: relative;
  z-index: 202;
  .tools-button__container {
    margin-bottom: 4px;

    &.active {
      background-color: $highlight-color;

      .tools-button__text {
        color: $highlight-text-color;
      }
      .icon-black {
        opacity: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.layer-list__title,
.color-picker__title {
  color: $secondary-text-color;
  font-size: 10px;
  letter-spacing: 0.25em;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.multi-tool__container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-right: 16px;
  position: relative;
}
.single-tool__container {
  display: flex;
  flex-direction: row;

  .tools-button__container {
    width: 121px;
    margin-right: 4px;
    position: relative;

    .tool-button__shirt-color {
      width: 29px;
      height: 29px;
      box-sizing: border-box;
      border: 1px solid $secondary-text-color;
    }

    &.active {
      &:hover {
        background: $secondary-background-color;

        .tools-button__text {
          color: $primary-text-color;
        }
      }
    }
  }
}

.react-color__picker {
  input {
    & + div {
      display: none !important;
    }
  }
}

input {
  &:focus {
    outline: none !important;
  }
}

.swatch-wrap {
  &:nth-child(8n + 8) {
    margin: 0 !important;
  }
}

.price {
  font-size: 27.5px;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-family: 'Helios-Black';
}
.button__container {
  min-width: 153px;
  background-color: $highlight-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  cursor: pointer;

  .button__text {
    color: $highlight-text-color;
    font-weight: 900;
    letter-spacing: 0.3em;
    font-size: 11px;
    text-transform: uppercase;
  }
}
.price-row__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .subprice-row {
    display: flex;

    .subprice__text {
      font-weight: 500;
      font-size: 8px;
      line-height: 12px;
      letter-spacing: 0.05em;
      color: $secondary-text-color;
    }
  }
}

.design-container {
  background-color: $secondary-background-color;
  padding: 31px;
  padding-bottom: 0;
  position: absolute;
  left: 125px;
  top: 0;
  box-sizing: border-box;
  height: 316px;
  width: 344px;
  cursor: default;
}

.uploads__wrapper,
.design__wrapper,
.colors__wrapper,
.view-types__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: default;
  z-index: 210;
}

.view-types__container,
.colors__container,
.uploads-list,
.design-container {
  z-index: 9999;
}

.uploads-list {
  background-color: $secondary-background-color;
  padding: 31px;
  width: 282px;
  position: absolute;
  left: 125px;
  top: 95px;
  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 7px;

    .uploads__single-item {
      margin-right: 3px;
      cursor: pointer;
      width: 90px;
      position: relative;

      .uploads__single-item-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #f6f4f8;
        height: 90px;
        opacity: 0.6;
        transition: opacity 0.3s ease;
      }

      .uploads__single-item-text {
        font-size: 9px;
        color: $secondary-text-color;
        line-height: 1;
        transition: color 0.3s ease;
        display: flex;
        margin: 5px 0 15px 0;
      }
      .uploads__icon-close {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 13px;
        height: 12px;
        padding: 2px;
        background-color: $secondary-background-color;
      }

      &:hover .uploads__single-item-text {
        color: $primary-text-color;
      }
      &:hover .uploads__single-item-image {
        opacity: 1;
      }

      &.upload-item {
        background-color: #e1dee5;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        margin-bottom: 15px;

        label {
          cursor: inherit;
          display: inherit;
          height: 100%;
          width: 100%;
          align-items: center;
          justify-content: center;
        }
      }

      &:nth-child(3n-3) {
        margin-right: 0;
      }
    }
  }
  .uploads-notice {
    display: flex;
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: $secondary-text-color;
    margin-bottom: 5px;
  }
  .uploads-subnotice {
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.05em;
    color: $primary-text-color;

    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.view-popup {
  position: absolute;
  top: -165px;
  left: 40%;
  transform: translate(-50%, 0);
  background-color: $highlight-color;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 36px;

  span {
    font-weight: 900;
    font-size: 11px;
    color: $highlight-text-color;
    letter-spacing: 0.3em;
    margin-left: 0.3em;
  }
}

.view-types__container,
.colors__container {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 121px;
  height: 360px;
  background-color: $secondary-background-color;
  cursor: default;
}
.colors__container {
  height: 197px;

  .colors__list {
    .colors__list-item {
      border: 1px solid $secondary-text-color;
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-right: 5px;
      margin-bottom: 5px;

      &:nth-child(2n-2) {
        margin-right: 0;
      }
    }
  }
}

.colors__list,
.view-types__category-list,
.prints-list {
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  flex-direction: row;
  flex-wrap: wrap;
}

.colors__list {
  padding: 23px 32px 18px 32px;
}

.view-types__category-list {
  flex-direction: column;
  padding: 23px 0 18px 0;
  justify-content: center;

  .view-types__category-list-item {
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.03em;
    cursor: pointer;
    margin-bottom: 7px;
    line-height: 1;
    transition: color 0.3s ease;
    color: $primary-text-color;

    &.active,
    &:hover {
      color: $highlight-text-color;
    }
  }
}

.view-types__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

  li {
    display: flex;
    max-width: 95px;
    margin-bottom: 5px;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.prints-list {
  overflow-y: auto;
  justify-content: flex-start;
  max-height: 261px;
}

.prints-list__item {
  flex-basis: 32%;
  height: 85px;
  border: 1px solid #f6f4f8;
  margin-right: 0.88%;
  cursor: pointer;

  .prints-list__item__container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  &:nth-child(3n-3) {
    margin-right: 0;
  }
  &:hover {
    .prints-list__item__container {
      opacity: 1;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
