body {
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}
[class*='col-'] {
  display: inline-block;
}
.col-4 {
  width: 33.33334%;
}
.editor__container {
  position: relative;
  width: 100%;
  height: 500px;
  background: center no-repeat url('img/black-front.png');
  background-size: contain;
}
/* .editor__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
} */
.workspace__area {
  position: absolute;
  /* position: relative; */
  top: 20%;
  left: 33%;
  right: 33%;
  border: 1px solid red;
  bottom: 10%;
  /* overflow: hidden; */
  /* width: 34%; */
  /* height: 70%; */
}
.layers__container {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
.no-overflow {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.transform-layer {
  display: none;
  position: absolute;
  background-color: red;
  width: 11px;
  height: 11px;
  font-size: 11px;
  line-height: 1;
  color: #ffffff;
  cursor: default;
  /* z-index: 1111; */
}
.rotate-layer {
  top: -11px;
  right: -11px;
}
.resize-layer {
  bottom: -11px;
  right: -11px;
}
.delete-layer {
  top: -11px;
  left: -11px;
}
.center-layer {
  bottom: -11px;
  left: -11px;
}
.stretch-layer {
  top: -11px;
  left: 30px;
}

.focused-layer .transform-layer {
  display: block;
}
.front-area .focused-layer::before,
#drag-placeholder .focused-layer::before {
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px dashed red;
  /* z-index: 1111; */
}
.corner {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: yellowgreen;
  visibility: hidden;
  z-index: -1;
}
.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-right {
  right: 0;
  bottom: 0;
}
.bottom-left {
  left: 0;
  bottom: 0;
}
